@import "variables.scss";
@import "~bootstrap/scss/bootstrap.scss";

body {
  margin-top: 120px;
  margin-left: 0px;
  margin-right: 0px;
  background: #fff url(~/assets/images/wall-bg.jpg) no-repeat center -28px fixed;
}

@import "../node_modules/element-ui/lib/theme-default/index.css"
